{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/index/index.css") }}">
{% endblock %}

{% block content %}
    <!-- <h1>hello, 
    {% if not current_user.is_anonymous %}
        {{ current_user.username }}</h1>
    {% else %}
        anonymous </h1>
    {% endif %} -->
    <div class="post_wrapper">
        {% for post in posts %}
            <div class="post">
                <div class="title">
                    <a href="{{ url_for("post", id=post.id) }}">{{ post.title }}</a>
                </div>
                <div>
                    
                </div>
                <img src="/static/img/{{ post.id }}/img.jpeg">
                <div class="body">
                    {% if post.body|length > 200 %}
                        {{ post.body[:200] + "..." }}
                        <a href="{{ url_for("post", id=post.id) }}">открыть</a>
                    {% else %}
                        {{ post.body }}
                    {% endif %}
                </div>
                <a href="{{ url_for("remove_post", id=post.id ) }}">удалить</a>
            </div>                
        {% endfor %}
    </div>
{% endblock %}