{% extends "base.html" %}

{% block css  %}
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/index/index.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/index/post.css") }}">
{% endblock %}

{% block content %}
    <div class="post_wrapper">
        <div class="post">
            <div class="title">
                <h2>{{ post.title }}</h2>
            </div>
            
            <img src="/static/img/{{ post.id }}/img.jpeg">
            
            <div class="body">
                {{ post.body }}
            </div>
            <form method="POST">
                <div class="comments_wrapper">
                    <div class="label">
                        Comments: {{ comments|length }}
                    </div>

                    <div class="comments">
                        {% for comment in comments %}
                            <div class="comment_contact_info">
                                <div class="author">
                                    {{ comment.author }}
                                </div> 
                                
                                <div class="email">
                                    ({{ comment.email }})
                                </div>
                            </div>
                            
                            <div class="comment_body">
                                {{ comment.body }}
                                <div class="answers_wrapper">
                                    {% for answer in answers.query.filter_by(comment=comment).all() %}
                                        <br>
                                        <div class="comment_contact_info">
                                            <div class="author">
                                                {{ answer.author }}
                                            </div>

                                            <div class="email">
                                                {{ answer.email }}
                                            </div>    
                                        </div>
                                        {{ answer.body }} <br>
                                    {% endfor %}
                                </div>
                            </div>

                            
                        {% endfor %}
                    </div>
                </div>          
                
                <div class="add_comments">
                    
                    {{ form.hidden_tag() }}
                    <div class="text_area_field">
                        Comment (140 letters): <br>
                        {{ form.body() }}
                    </div>
                    
                    <div class="contact_info">
                        <div class="email">
                            Email (64 letters):<br>
                            {{ form.email() }}    
                        </div>

                        <div class="author">
                            Username (64 letters):<br>
                            {{ form.author() }}
                        </div>
                    </div>
                    
                    <div class="button">
                        {{ form.submit(value="Ok") }}
                    </div>
                    
                </div>
            </form>

        </div>
    </div>                
{% endblock %}