{% extends "base.html" %}

{% block css  %}
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/index/index.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/index/post.css") }}">
{% endblock %}

{% block content %}
    <div class="post_wrapper">
        <div class="post">
            <div class="title">
                <h2>{{ post.title }}</h2>
            </div>
            
            <img src="/static/img/{{ post.id }}/img.jpeg">
            
            <div class="body">
                {{ post.body }}
            </div>
            
            Comments
            <hr style="color:gray">
            <div class="add_comments">
                
                Comment: <br>
                {{ form.body(cols=100, rows=5) }}<br>
                
                <div class="contact_info">
                    <div class="email">
                        Email:<br>
                        {{ form.email() }}    
                    </div>

                    <div class="author">
                        Username:<br>
                        {{ form.author() }}
                    </div>
                </div>
                {{ form.submit }}
            </div>
            
            <div class="comments">
                {% for comment in comments %}
                    {{ comment.author }} ({{ comment.email }})<br>        
                    {{ comment.body }}
                    <br>
                    <br>
                {% endfor %}
            </div>            
        </div>
    </div>                
{% endblock %}